
*.env
*.env.local
*node_modules/**/*
*.expo/
*npm-debug.
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.env
*.env.local
*.env.production
*.orig.*
*web-build/
*firebase.js
*permissions.json

# macOS
*.DS_Store

*package-lock.json